@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack/Hack-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack/Hack-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack/Hack-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Hack';
  src: url('/fonts/Hack/Hack-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
}

/* Terminal blinking caret */
.blink {
  caret-color: #7aa2f7;
  animation: blink-caret 1s step-start infinite;
}

@keyframes blink-caret {
  50% {
    caret-color: transparent;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    /* remove transform here */
  }

  to {
    opacity: 1;
    /* remove transform here */
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.35s ease-out;
}

.animate-fade-out {
  animation: fade-out 0.15s ease-in forwards;
}

/* Scrollbar styling */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f4f4f4;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}
